<link rel='stylesheet' href='/css/edit.css'>
<script src='/js/editpreview.js'></script>
<form action='/edit/<%= title %>' method='POST' class='editForm'>
    <% if (prefix || suffix) {%>
        <div class="alert alert-info" role="alert">
            문서의 일부분을 편집하고 있습니다.
        </div>
    <% } %>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <textarea name='editPrefix' style='display:none'><%= prefix %></textarea>
    <textarea name='editSuffix' style='display:none'><%= suffix %></textarea>
    <div class='form-group'>
        <textarea class='form-control' id='editAreaBox' name='content' placeholder='Describe <%= title %> here...' <% if (locals.disabled) { %> disabled <% } %>><%= content %></textarea>
    </div>
    <% if (!locals.disabled) { %>
    <div class="form-group mt-2 mb-2 row">
        <label for='comment' class='col-sm-2 col-form-label'>편집 요약</label>
        <div class="col-sm-10">
            <input class="form-control" id='comment' maxlength=255 name='comment' type="text" placeholder="최대 255자">
        </div>
    </div>
    <div class='mt-2 mb-2'>
        <div class='captcha'><%- captcha %></div>
        <div class='row'>
            <label for='captchaIn' class='col-form-label col-sm-2'>CAPTCHA</b></label>
            <div class='col-sm-10'>
                <input class="form-control" maxlength=4 id='captchaIn' name='captcha' type="text" style='width:100px' autocomplete='off'>
            </div>
        </div>
        <small class='form-text text-muted'>For spam protection, please type <b>four</b> characters shown above.</small>
    </div>
    <% if (locals.username === undefined) { %>
    <p><span class='text-danger fw-bold'>경고!</span>    비로그인 상태로 편집하면 IP가 영구히 기록되어 공개됩니다.</p>
    <% } %>
    <p><span class='text-danger fw-bold'>경고!</span>    <%= global.copyrightNotice %></p>
    <button type='submit' type='button' class='btn btn-primary mt-3'>저장</button>
    <button type='button' class='btn btn-secondary mt-3' onclick='previewButtonClick()'>미리보기</button>
    <% } %>
</form>
<form action='/preview/' method='POST' target='_blank' id='previewForm' style='display:none'>
    <input type='hidden' name='title' value='<%= title %>'>
    <input type='hidden' id='previewContent' name='content'>
</form>