<form action='/diff/<%= changes[0].page%>' method='GET' style='width:350px'>
    <div class="mb-3 row">
        <label for="rev1" class="col-sm-2 col-form-label" style='width: 250px'>비교할 버전 1 (r 다음만 입력)</label>
        <div class="col-sm-10" style='width: 120px'>
            <input type="number" class="form-control" id='rev1' name='rev1' min='1'>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="rev2" class="col-sm-2 col-form-label" style='width: 250px'>비교할 버전 2 (r 다음만 입력)</label>
        <div class="col-sm-10" style='width: 120px'>
            <input type="number" class="form-control" id='rev2' name='rev2' min='1'>
        </div>
    </div>
    <div class="mb-3 row">
        <button type='submit' class='btn btn-primary' style='width: 100px;margin: auto'>비교</button>
    </div>
</form>

<div style='overflow-x: auto'> <!-- wrpper -->
    <table class="table">
        <thead>
            <tr>
                <th scope='col'>리비전</th>
                <th scope='col'>사용자명</th>
                <th scope='col'>수정 사항</th>
                <th scope='col'>일시</th>
                <th scope='col' style='width: 180px'></th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = from - 1; i < to; i++) { %>
                <tr>
                    <th scope='row'>
                        <a href='/w/<%= changes[i].page %>?rev=<%= changes[i].rev %>'>r<%= changes[i].rev %></a> (<% if (changes[i].bytechange > 0) { %><span class='text-success fw-bold'>+<%= changes[i].bytechange %></span><% } else if (changes[i].bytechange == 0) { %><span class='text-secondary fw-bold'><%= changes[i].bytechange %></span><% } else { %><span class='text-danger fw-bold'><%= changes[i].bytechange %></span><% } %>)
                    </th>
                    <td>
                        <% if (/\d\d?\d?\.\d\d?\d?\.\d\d?\d?\.\d\d?\d?/.test(changes[i].editedby)) { %>
                            <%= changes[i].editedby %>
                        <% } else { %>
                            <a href='/w/User:<%= changes[i].editedby %>'><%= changes[i].editedby %></a>
                        <% } %>
                        <sup><a href='/contribution/<%= changes[i].editedby %>'>C</a></sup>
                    </td>
                    <td><%= changes[i].type %></td>
                    <td><%= date.format(changes[i].createdAt, global.dtFormat) %> </td>
                    <td>
                        <% let lnk = '/raw/' + encodeURI(changes[i].page) + '?rev=' + changes[i].rev.toString() %>
                        <% let lnk2 = '/revert/' + encodeURI(changes[i].page) + '?rev=' + changes[i].rev.toString() %>
                        <a href="<%= lnk %>">RAW</a><%if (changes[i].type == 'edit' || changes[i].type == 'create' || changes[i].type == 'revert') { %> | <a href='<%= lnk2 %>'>Revert</a><% } %><% if (changes[i].rev > 1) { %> | <a href ='/diff/<%= changes[i].page %>?rev1=<%= changes[i].rev %>&rev2=<%= changes[i].rev - 1%>'>diff</a><% } %>
                    </td>
                </tr>
                <% if (changes[i].comment) { %>
                <tr><td style='word-wrap: anywhere;' colspan='5'><%=changes[i].comment%></td></tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
</div>
<div>
    <ul class="pagination">
        <% if (from > 1) { %>
            <% var prevlink = '/history/' + encodeURI(title) + '?from=' + (from * 1 - pgSize * 1).toString() + '&to=' + (from * 1 - 1).toString() %>
            <li class="page-item">
                <a class="page-link" href=<%= prevlink %> aria-label="Previous">
                    이전
                </a>
            </li>
        <% } %>
        <% for (var i = 1; i <= Math.ceil(historycount / pgSize); i++) { %>
        <% var str = '/history/' + encodeURI(title) + '?from=' + (pgSize * (i - 1) + 1).toString() + '&to=' + (pgSize * i).toString() %>
            <li class="page-item">
                <a class="page-link" href=<%= str %>>
                    <%= i %>
                </a>
            </li>
        <% } %>

        <% if (to < historycount) { %>
            <% var nextlink = '/history/' + encodeURI(title) + '?from=' + (to * 1 + 1) + '&to=' + (to * 1+ pgSize * 1)%>
            <li class="page-item">
                <a class="page-link" href=<%= nextlink %> aria-label="Next">
                    다음
                </a>
            </li>
        <% } %>
    </ul>
</div>
Page <%= Math.ceil(from / pgSize) %> of <%= Math.ceil(historycount / pgSize) %>