<form action='/move/<%= originalName %>' method='POST' class='editForm'>
    <div class="form-group mt-2 mb-2 row">
        <label for='comment' class='col-sm-2 col-form-label'><%= l('move_orgpage') %></label>
        <div class="col-sm-10">
            <input class="form-control" id='originalName' maxlength=255 name='originalName' type="text" placeholder="<%= l('edit_max255') %>" value='<%= originalName %>' disabled readonly>
        </div>
    </div>
    <div class="form-group mt-2 mb-2 row">
        <label for='newName' class='col-sm-2 col-form-label'><%= l('move_newpage') %></label>
        <div class="col-sm-10">
            <input class="form-control" id='newName' maxlength=255 name='newName' type="text" placeholder="<%= l('edit_max255') %>">
        </div>
    </div>
    <div class='mt-2 mb-2'>
        <div class='captcha'><%- captcha %></div>
    </div>
    <% if (locals.username === undefined) { %>
    <p><span class='text-danger fw-bold'><%= l('warning') %>!</span>    <%= l('ipshown') %></p>
    <% } %>
    <button type='submit' type='button' class='btn btn-primary mt-3'><%= l('move') %></button>
</form>