<div class="dropstart">
    <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="rcshowNDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      <%= l('options') %>
    </button>
    <ul class="dropdown-menu dropdown-menu-macos shadow" aria-labelledby="rcshowNDropdown">
      <li><a class="dropdown-item" href="/RecentChanges?show=5"><%= l('show5') %></a></li>
      <li><a class="dropdown-item" href="/RecentChanges?show=10"><%= l('show10') %></a></li>
      <li><a class="dropdown-item" href="/RecentChanges?show=30"><%= l('show30') %></a></li>
      <li><a class="dropdown-item" href="/RecentChanges?show=100"><%= l('show100') %></a></li>
    </ul>
</div>
<div style='clear:both'></div>
<div style='overflow-x: auto; min-height: 100vh;'>
    <table class="table" style='min-width: 100%;'>
        <colgroup>
            <col style='min-width: 40%;'>
            <col style='min-width: 64px;'>
            <col style='min-width: 64px;'>
            <col style='min-width: 100px;'>
        </colgroup>
        <thead>
            <tr>
                <th scope='col'><%= l('pagename') %></th>
                <th scope='col'><%= l('username') %></th>
                <th scope='col'><%= l('editMade') %></th>
                <th scope='col'><%= l('datetime') %></th>
            </tr>
        </thead>
        <tbody id = 'rclist'>
        </tbody>
    </table>
    <div id='rcplaceholder'>Loading...</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='/js/readRC.js'></script>