<div class="dropstart">
    <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="rcshowNDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Show...
    </button>
    <ul class="dropdown-menu" aria-labelledby="rcshowNDropdown">
      <li><a class="dropdown-item" href="/RecentChanges?show=5">Show 5</a></li>
      <li><a class="dropdown-item" href="/RecentChanges?show=10">Show 10</a></li>
      <li><a class="dropdown-item" href="/RecentChanges?show=30">Show 30</a></li>
      <li><a class="dropdown-item" href="/RecentChanges?show=100">Show 100</a></li>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope='col'>Page name</th>
            <th scope='col'>Username</th>
            <th scope='col'>Change made</th>
            <th scope='col'>Comment</th>
            <th scope='col'>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < show; i++) { %>
            <tr>
                <th scope='row'>
                    <% if (changes[i].type == 'upload') { %>
                        <a href='/file/<%= changes[i].page %>'><%= changes[i].page %></a> <em>(file)</em>
                    <% } else { %>
                        <a href='/w/<%= changes[i].page %>?redirect=false'><%= changes[i].page %></a> (r<%= changes[i].rev %>)
                    <% } %>
                </th>
                <td><%= changes[i].doneBy %></td>
                <td><%= changes[i].type %> (<% if (changes[i].bytechange > 0) { %><span class='text-success fw-bold'>+<%= changes[i].bytechange %></span><% } else if (changes[i].bytechange == 0) { %><span class='text-secondary fw-bold'><%= changes[i].bytechange %></span><% } else { %><span class='text-danger fw-bold'><%= changes[i].bytechange %></span><% } %>)</td>
                <td><%= changes[i].comment %></td> <!-- todo: separate row? -->
                <td><%= date.format(changes[i].createdAt, global.dtFormat) %> </td>
            </tr>
        <% } %>
    </tbody>
</table>