<p class='fw-bold'><a href='/edit/<%= searchtitle %>'>문서 편집</a>을 찾으시나요?</p>
<h5>제목 일치</h5>
<ul class="list-group list-group-flush">
    <% for (let i = 0; i < resultTitle.length; i++) { %>
        <li class="list-group-item">
            <a href='/w/<%= resultTitle[i].title %>'><%= resultTitle[i].title %></a>
        </li>
    <% } %>
</ul>
<h5>내용 일치</h5>
<ul class="list-group list-group-flush">
    <% for (let i = 0; i < resultContent.length; i++) { %>
        <li class="list-group-item">
            <a href='/w/<%= resultContent[i].title %>'><%= resultContent[i].title %></a>
        </li>
    <% } %>
</ul>