<link rel='stylesheet' href='/css/boardList.css'>
<div class='articleListTop mb-2 d-flex flex-row-reverse'>
    <a class='btn btn-primary articleBtnWrite' href='/board/write/<%= boardName %>' role='button'>글쓰기</a>
</div>
<div class='articleList'>
    <div class='d-flex articleListHead d-none d-md-flex'>
        <div class='p-2 articleListHeadID'>번호</div>
        <div class='p-2 articleListHeadTitle flex-grow-1'>제목</div>
        <div class='p-2 articleListHeadWriter'>작성자</div>
        <div class='p-2 articleListHeadDate'>작성일</div>
        <div class='p-2 articleListHeadViewCount'>조회수</div>
        <div class='p-2 articleListHeadGechu'>추천</div>
    </div>
    <div class='articleListBody'>
        <% post.forEach((p, i, arr) => { %>
        <a class='articleLink' href='/board/read/<%= p.boardID %>?no=<%= p.id %>'>
            <div class='d-block d-md-flex articleInfo <% if (p.id === currentPost) { %> articleInfo_current <% } %>'>
                <div class='articleTop d-flex flex-grow-1'>
                    <div class='p-2 articleID d-none d-md-flex'>
                        <%= p.id %>
                    </div>
                    <div class='articleTitle p-2'>
                        <div class='articleTitleText'>
                            <span class='articleLink' title='<%= p.title %>' href='/board/read/<%= p.boardID %>?no=<%= p.id %>'>
                                <%= p.title %>
                            </span>
                        </div>
                    </div>
                    <% if (p.commentCount > 0) {%>
                    <div class='articleCommentCount'>
                        [<%= p.commentCount %>]
                    </div>
                    <% } %>
                </div>
                <div class='articleBottom d-flex'>
                    <div class='p-2 articleWriter'>
                        <div class='articleWriterNickname'>
                            <soan title='<%= p.writtenBy %>'>
                                <%= p.writtenBy%>
                            </span>
                        </div>
                        <div class='articleWriterIndicator'>
                            <% if (p.writtenIP) { %>
                            <span class='articleWriterIP'>(<%= ipProcessed[i] %>)</span>
                            <% } else { %>
                            <i class="fas fa-user articleWriterUser"></i>
                            <% } %>
                        </div>
                    </div>
                    <div class='p-2 articleDate'>
                        <time class='dt' datetime='<%= p.createdAt.toISOString() %>' data-format='Q'></time>
                    </div>
                    <div class='p-2 articleViewCount'>
                        <%= p.viewCount %>
                    </div>
                    <div class='p-2 articleNetGechu'>
                        <!-- net 개추: (개추 - 비추) -->
                        <%= p.gechu - p.bichu %>
                    </div>
                </div>
            </div>
        </a>
        <% }) %>
    </div>
</div>
<div class='articleListBottom mt-2 d-flex flex-row-reverse'>
    <a class='btn btn-primary articleBtnWrite' href='/board/write/<%= boardName %>' role='button'>글쓰기</a>
</div>
<% let totalPages = Math.ceil(postCount/global.pageLength) %>
<% let pgGroupStart = currentPage - (currentPage - 1) % 10 %>
<% if (q) { %>
<nav class='boardPageination pagination-sm mt-2' aria-label="페이지 탐색">
    <ul class="pagination justify-content-center">
        <% if (currentPage > 1) { %>
            <li class="page-item"><a class="page-link" href='/board/<%= boardName %>?searchCriteria=<%= searchCriteria %>&q=<%= q %>&page=<%= currentPage - 1 %>'>이전 검색</a></li>
        <% } %>
    
        <% if (post.length) { %>
            <li class="page-item"><a class="page-link" href='/board/<%= boardName %>?searchCriteria=<%= searchCriteria %>&q=<%= q %>&page=<%= currentPage + 1 %>'>다음 검색</a></li>
        <% } %>
    </ul>
</nav>
<% } else { %>
<nav class='boardPageination pagination-sm mt-2' aria-label="페이지 탐색">
  <ul class="pagination justify-content-center">
    <% if (currentPage > 10) { %>
        <li class="page-item"><a class="page-link" href='/board/<%= boardName %>?page=<%= Math.min(1, currentPage - 10) %>'>이전</a></li>
    <% } %>

    <% for (let i = pgGroupStart; i <= Math.min(totalPages, pgGroupStart + 10); i++) { %>
        <li class="page-item <% if (i == currentPage) {%>active<%}%>"><a class="page-link" href="/board/<%= boardName %>?page=<%= i %>"><%= i %></a></li>
    <% } %>

    <% if (currentPage < totalPages - totalPages % 10 + 1) { %>
        <li class="page-item"><a class="page-link" href='/board/<%= boardName %>?page=<%= Math.min(totalPages, currentPage + 10) %>'>다음</a></li>
    <% } %>
  </ul>
</nav>
<% } %>
<div class='articleListSearchContainer mt-2'>
    <form class="d-flex" action="/board/<%= boardName%>" method="GET" id="articleListSearchForm">
        <select class="form-select articleListSearchCriteria" aria-label="검색 기준" name="searchCriteria">
            <option value="sub_content">제목+내용</option>
            <option value="sub">제목</option>
            <option value="content">내용</option>
            <option value="writer">작성자</option>
        </select>
        <div class='input-group ms-2'>
            <input class="form-control" id="searchinput" name="q" type="search" placeholder="검색" aria-label="검색어" autocomplete="off">
            <button class="btn btn-outline-light bg-primary" id="searchSubmit" type="submit"><i class="fa fa-arrow-right text-light"></i></button>
        </div>
    </form>
</div>