<footer id='footer' class='bg-light text-center p-3 mt-auto'>
    <div>Powered by <a href='/Licence'>AkariEngine</a></div>
    <div>Contents are licensed under <%= global.licence %> unless otherwise specified.</div>
    <div>본 웹사이트의 내용은 별도로 명시된 경우를 제외하고 <%= global.licence %> 라이선스 하에 배포됩니다.</div>
    <div>
        <% for (let i = 0; i < global.conf.specialPages.length; i++) { %>
        <a href='<%= global.conf.specialPages[i].link %>'><%= global.conf.specialPages[i].title %></a> <%= (i < global.conf.specialPages.length - 1) ? ' | ' : '' %>
        <% } %>
    </div>
</footer>