<nav class="navbar navbar-dark bg-primary fixed-top">
    <div class="container-fluid nav-contents">
        <!-- logo -->
        <a class="navbar-brand" href="/"><%= wikiname %></a>
        <ul class="navbar-nav me-auto mb-lg-0" style='flex-direction: row;'>
            <!-- rc -->
            <li class="nav-item">
                <a class="nav-link" href="/RecentChanges">
                    <i class="fas fa-sync-alt nav-icon"></i>
                    <span class='d-none d-lg-inline'>최근 변경</span>
                </a>
            </li>
            <!-- rd -->
            <li class="nav-item">
                <a class="nav-link" href="/RecentDiscuss">
                    <i class="fa fa-comments nav-icon"></i>
                    <span class='d-none d-lg-inline'>최근 토론</span>
                </a>
            </li>
            <!-- RandomPage -->
            <li class="nav-item">
                <a class="nav-link" href="/board">
                    <i class="fas fa-clipboard-list"></i>
                    <span class='d-none d-lg-inline'>게시판</span>
                </a>
            </li>
            <!-- toolbox -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTools" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-cog"></i>
                    <span class='d-none d-lg-inline'>도구</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-macos shadow" aria-labelledby="navbarTools" style='position: absolute'>
                    <li>
                        <a class="dropdown-item" href="/RandomPage">
                            <i class="fa fa-random nav-icon"></i>
                            <span>랜덤 문서</span>
                        </a>
                    </li>
                    <li>
                        <!-- pagelist-->
                        <a class="dropdown-item" href="/PageList">
                            <i class="fa fa-list-ul nav-icon"></i>
                            <span>문서 목록</span>
                        </a>
                    </li>
                    <li>
                        <!-- upload -->
                        <a class="dropdown-item" href="/Upload">
                            <i class="fa fa-upload nav-icon"></i>
                            <span>업로드</span>
                        </a>
                    </li>
                    <li>
                        <!-- Admin log -->
                        <a class="dropdown-item" href="/adminlog">
                            <i class="fa fa-history nav-icon"></i>
                            <span>관리 로그</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/viewrank">
                            <i class="fa fa-chart-line nav-icon"></i>
                            <span>문서 조회수 랭킹</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/Licence">
                            <i class="fa fa-check nav-icon"></i>
                            <span>라이센스</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class='navbar-nav' id='userIcon'>
            <!-- user-->
            <div class="dropdown">
                <button class="btn" id="navUserDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                    <% if (locals.username) { %>
                        <img class='identicon rounded' data-id='<%= username %>'>
                    <% } else { %>
                        <i class="fas fa-sign-in-alt"></i>
                    <% } %>
                </button>
                <ul class="dropdown-menu dropdown-menu-end position-absolute dropdown-menu-macos mx-0 shadow" aria-labelledby="navUserDropDown">
                    <li class='userButton_username'><% if (locals.username) { %><%= username %><% } else { %><%= ipaddr %><% } %></li>
                    <li><hr class="dropdown-divider"></li>
                    <% if (locals.username) { %>
                    <li>
                        <a class='dropdown-item' href='/w/User:<%= username %>'>사용자 문서</a>
                    </li>
                    <% } %>
                    <li>
                        <a class='dropdown-item' href='/contribution/<%= locals.username ? username :  ipaddr %>'>기여 목록</a>
                    </li>
                    <hr style='margin: 0.3rem 0'>
                    <li>
                        <a class='dropdown-item' href='/settings'>설정</a>
                    </li>
                    <hr style='margin: 0.3rem 0'>
                    <li>
                        <% if (locals.username) { %>
                            <a class="dropdown-item" href='/logout'>로그아웃</a>
                        <% } else { %>
                            <a class="dropdown-item" href='/login'>로그인</a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- search box -->
        <form class="input-group d-flex" action='/search' method='POST' id='searchBox'>
            <input class="form-control" id='searchinput' name='pagename' type="search" placeholder="검색" aria-label="검색">
            <button class="btn btn-outline-light bg-primary" id='searchSubmit' type="submit"><i class="fa fa-arrow-right text-light"></i></button>
            <!-- <button class="btn btn-outline-light" type="submit">Open</button> -->
        </form>
    </div>
</nav>
