<!DOCTYPE html>
<html>
    <head>
        <%- include('head') %>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('nav') %>
        <section>
            <!-- Notifications-->
            <% if (locals.notification) { %>
                <div class="alert alert-primary" role="alert">
                        <%= notification %>
                </div>
            <% } %>

            <div class='container article-wrapper h-75 p-4 border rounded-top'>
                <div>
                    <h1><%= title %></h1>
                    <% if (locals.isPage) { %>
                        <%- include('pageTools') %>
                    <% } %>
                    <% if (locals.isFile) { %>
                        <%- include('fileTools') %>
                    <% } %>
                </div>
                <div style='clear: both'></div>
                <div id='article'>
                    <%- content %>
                </div>
            </div>
        </section>
    </body>
</html>