<!DOCTYPE html>
<html>
    <head>
        <%- include('head') %>
    </head>
    <body class='d-flex flex-column min-vh-100'>
        <%- include('nav') %>
        <div class='container container-fluid'>
            <div class='articleRCWrapper d-flex'>
                <div class='article-wrapper h-75 border rounded-top row flex-grow-1'>
                    <!-- Notifications-->
                    <%- include('IEalert') %>
                    
                    <div class="alert alert-info" role="alert">
                        <b>★</b> 첫사랑썰, 전애인썰, 공포썰, 감동썰, 미처 말하지 못했던 썰들까지 익명으로 풀어낼 수 있는 기회! GEC 썰 풀기 대회가 개최 중입니다!<b>★</b> <br><a href="https://gecwiki.kr/board/read/free?no=5">여기를 눌러 대회 정보 확인.</a>
                    </div>
                    
                    <div class='alert alert-info' id='satobox' style='display: none' role="alert">
                        <a id='satoboxlink'>사용자 토론</a>이 열려 있습니다.
                    </div>
                    <div class='pb-2 mt-2 mb-3 border-bottom titleArea'>
                        <h1 class='pgTitle'><% if (locals.titleLink) { %><a class='pgTitleLink' href='<%= locals.titleLink %>'><% } %><%= title %><% if (locals.titleLink) { %></a><% } %><% if (locals.titleInfo) { %><h5 style='display: inline;margin-left:10px;'><%- locals.titleInfo %></h5><% } %></h1>
                        <% if (locals.isPage) { %>
                            <%- include('pageTools') %>
                        <% } %>
                        <% if (locals.isFile) { %>
                            <%- include('fileTools') %>
                        <% } %>
                        <% if (locals.updatedAt) { %>
                            <div style='clear: both'></div>
                            <span style='float:right;'>최근 편집 시각: <%= locals.updatedAt %></span>
                        <% } %>
                        <% if (locals.description) { %>
                            <div class='text-muted'><%= locals.description %></div>
                        <% } %>
                    </div>
                    <div style='clear: both'></div>
                    <article id='article'>
                        <%- content %>
                    </article>
                </div>
                <%- include('rc') %>
            </div>

        </div>
        <div style='display: none' id='hdusername'><%= locals.username %></div>
        <%- include('footer') %>
        <%- include('floatingToolbox') %>
    </body>
</html>