<!DOCTYPE html>
<html>
    <head>
        <%- include('head') %>
        <title><%= title %></title>
    </head>
    <body class='d-flex flex-column min-vh-100'>
        <%- include('nav') %>
        <div class='container container-fluid'>
            <%- include('rc') %>
            <section>
                <div class='article-wrapper h-75 p-4 border rounded-top row'>
                    <div class='pb-2 mt-2 mb-3 border-bottom'>
                        <h1 style='display:inline-block;overflow-wrap: anywhere;'><%= title %></h1>
                        <% if (locals.isPage) { %>
                            <%- include('pageTools') %>
                        <% } %>
                        <% if (locals.isFile) { %>
                            <%- include('fileTools') %>
                        <% } %>
                    </div>
                    <div style='clear: both'></div>
                    <!-- Notifications-->
                    <% if (locals.notification) { %>
                        <div class="alert alert-danger" role="alert">
                                <%= notification %>
                        </div>
                    <% } %>
                    <div id='article'>
                        <%- content %>
                    </div>
                </div>
            </section>
        </div>
        <%- include('footer') %>
        <%- include('floatingToolbox') %>
    </body>
</html>