<!-- pageTools.ejs: edit, delete, move...-->
<div class="container w-auto btn-group mb-3" id='pageTools' role="group" aria-label="Basic outlined example">
  <a href="/w/<%= pagename %>" class="btn btn-outline-primary">View</a>
  <a href='/edit/<%= pagename %>' class="btn btn-outline-primary">Edit</a>
  <a href='/move/<%= pagename %>' class="btn btn-outline-primary">Move</a>
  <a href='/history/<%= pagename %>' class="btn btn-outline-primary">History</a>
  <a href='/delete/<%= pagename %>' class="btn btn-outline-primary">Delete</a>
</div>