<div style='float:right'>
    <a class='btn btn-primary' href='/RecentDiscuss?isopen=true' role='button'>Open</a>
    <a class='btn btn-secondary' href='/RecentDiscuss?isopen=false' role='button'>Closed</a>
</div>
<div style='clear:both'></div>
<div style='overflow-x: auto'>
    <table class="table">
        <thead>
            <tr>
                <th scope='col'>Thread name</th>
                <th scope='col'>Page name</th>
                <th scope='col'>Date</th>
            </tr>
        </thead>
        <tbody>
            <% changes.forEach(c => { %>
            <tr>
                <td><a href='/thread/<%= c.threadID %>'><%= c.threadname %></a></td>
                <td><a href='/w/<%= c.pagename %>'><%= c.pagename %></a></td>
                <td><%= date.format(c.createdAt, global.dtFormat) %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>