<form action='/adminlog' method='GET'>
    <div class="mb-3 row">
        <label for="doneby" class="col-sm-2 col-form-label" style='width: 150px'>Done by</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id='doneby' name='doneBy'>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="job" class="col-sm-2 col-form-label" style='width: 150px'>Job done</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id='job' name='job'>
        </div>
    </div>
    <div class="mb-3 row">
        <button type='submit' class='btn btn-primary' style='width: 100px;margin: auto'>View</button>
    </div>
</form>
<ul>
    <% changes.forEach((item, i, ch) => { %>
        <li><%= date.format(item.createdAt, global.dtFormat) %> - <%= item.username %> <%= item.job %></li>
    <% }) %>
        <ul class="pagination">
        <% if (from > 0) { %>
            <% var prevlink = '/adminlog?from=' + (from * 1 - 30).toString() + '&doneBy=' + doneBy + '&job=' + job %>
            <li class="page-item">
                <a class="page-link" href=<%= prevlink %> aria-label="Previous">
                    &laquo;
                </a>
            </li>
        <% } %>
        <% if (from + 30 < count) { %>
            <% var nextlink = '/adminlog?from=' + (from * 1 + 30).toString() + '&doneBy=' + doneBy + '&job=' + job %>
            <li class="page-item">
                <a class="page-link" href=<%= nextlink %> aria-label="Next">
                    &raquo;
                </a>
            </li>
        <% } %>
    </ul>
</ul>
<script src='/js/adminlog.js'></script>