<div class='p-3' style='max-width: 500px'>
    <form action='/login' method='POST'>
        <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
        <div class='form-group mb-2'>
            <label for='idInputbox'><%= l('id') %></label>
            <input type='text' name='id' class='form-control' id='idInputbox' placeholder='<%= l("login_inputID") %>' required>
        </div>
        <div class='form-group mb-2'>
            <label for='passwordInputbox'><%= l('password') %></label>
            <input type='password' name='password' class='form-control' id='passwordInputbox' placeholder='<%= l("login_inputPW") %>' required>
        </div>
        <div class='mb-2'><%= l('login_noAccount')%> <a href='/signup'><%= l('login_accountNow') %></a></div>
        <div class='mb-2'>
            <%= l('login_pwforgot') %><a href='mailto:<%= global.conf.adminEmail %>'><%= l("login_adminEmail") %></a><br>
        </div>
        <button type='submit' class='btn btn-primary'><%= l('login') %></button>
    </form>
</div>