<% if (username) { %>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><%= l('theme') %></h5>
        <p class="card-text"><%= l('theme_themeDesc') %></p>
        <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
        <form method='POST' action='/settings/changeSkin'>
            <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
            <div class='form-group mb-2'>
                <label for='oldpassword'><%= l('theme_choose') %></label>
                <select class="form-select" aria-label="<%= l('theme_choose_please') %>" name="skin" required>
                    <% global.skins.forEach(e =>{ %>
                        <option value="<%= e.name %>"><%= e.manifest.name %></option>
                    <% }) %>
                  </select>
            </div>
            <button type='submit' class='btn btn-primary'><%= l('save') %></button>
        </form>
    </div>
</div>
<% } %>
<% if (global.conf.disableDarkMode !== true) { %>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><%= l('darkmode') %></h5>
        <p class="card-text"><%= l('darkmode_desc') %></p>
        <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
        <div class='form-group mb-2'>
            <div class='row'>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioDark" id="radioDarkLight" value='light'>
                    <label class="form-check-label" for="radioDarkLight">
                        <%= l('lightmode') %>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioDark" id="radioDarkDark" value='dark'>
                    <label class="form-check-label" for="radioDarkDark">
                        <%= l('darkmode') %>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioDark" id="radioDarkSystem" value='system'>
                    <label class="form-check-label" for="radioDarkSystem">
                        <%= l('useSystemSettings') %>
                    </label>
                </div>
            </div>
        </div>
        <button class='btn btn-primary' onClick='setDarkPref()'><%= l('save') %></button>
    </div>
</div>
<% } %>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><%= l('useRCBar') %></h5>
        <p class="card-text"><%= l('useRCBar_Desc') %></p>
        <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
        <div class='form-group mb-2'>
            <div class='row'>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioRC" id="radioRCtrue" value='true'>
                    <label class="form-check-label" for="radioRCtrue">
                        <%= l('use') %>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioRC" id="radioRCfalse" value='false'>
                    <label class="form-check-label" for="radioRCfalse">
                        <%= l('dontuse') %>
                    </label>
                </div>
            </div>
        </div>
        <button class='btn btn-primary' onClick='setRCPref()'><%= l('save') %></button>
    </div>
</div>

<% if (username) { %>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><%= l('changepw') %></h5>
        <p class="card-text"><%= l('changepw_Desc') %></p>
        <form method='POST' action='/settings/changePassword'>
            <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
            <div class='form-group mb-2'>
                <label for='oldpassword'><%= l('currentpw') %></label>
                <input type='password' name='oldpassword' class='form-control' id='oldpassword' placeholder='<%= l('currentpw_inp') %>' required>
            </div>
            <div class='form-group mb-2'>
                <label for='passwordInputbox'><%= l('newpw') %></label>
                <input type='password' name='password' class='form-control' id='passwordInputbox' placeholder='<%= l('newpw_inp') %>' required minlength='8' maxlength='255' onkeyup='pwMatchCheck();pwAppropriateCheck()'
                pattern='^[A-Za-z\d$@$!%*?&^#_\-+=<>,./|]{8,255}$'>
                <small class='form-text text-muted'><%= l('register_p8up') %>></small>
                <small id='passwordbadlength' class='text-danger fw-bold' style='display: none'><%= l('register_illegalpwlength') %></small>
                <small id='passwordbadchar' class='text-danger fw-bold' style='display: none'><%= l('register_illegalpwchar') %> <small id='passwordbadcharlist'></small></small>
            </div>
            <div class='form-group mb-2'>
                <label for='passwordConfirmInputbox'><%= l('register_confirmpw')%></label>
                <input type='password' name='passwordConfirm' class='form-control' id='passwordConfirmInputbox' area-describedby='passwordConfirmDesc' placeholder='<%= l('newpw_inp') %>' required minlength='9' maxlength='255' onkeyup='pwMatchCheck()'>
                <p>
                    <small id='passwordmatch' class='text-success fw-bold' style='display: none'><%= l('register_pwMatch') %></small>
                    <small id='passwordnotmatch' class='text-danger fw-bold' style='display: none'><%= l('register_pwNotMatch') %></small>
                </p>
                <small id='passwordConfirmDesc' class='form-text text-muted'><%= l('register_confirmPwDesc') %></small>
            </div>
            <script src='/js/signupPasswordCheck.js'></script>
            <button type='submit' class='btn btn-primary'><%= l('changepw') %></button>
        </form>
    </div>
</div>
<% } %>
<script src='/js/settings.js'></script>