<div class='p-3' style='max-width: 500px'>
    <form action='/signup' method='POST'>
        <div class='form-group mb-2'>
            <label for='idInputbox'><%= l('id') %></label>
            <input type='text' name='id' maxlength=255 class='form-control' id='idInputbox'placeholder='<%= l('register_enterid') %>' required minlength='3' maxlength='255', onkeyup='idCheck()'>
            <p>
                <small id='goodid' class='text-success fw-bold' style='display: none'><%= l('register_idok') %></small>
                <small id='badid' class='text-danger fw-bold' style='display: none'></small>
            </p>
        </div>
        <div class='form-group mb-2'>
            <label for='passwordInputbox'><%= l('password') %></label>
            <input type='password' name='password' class='form-control' id='passwordInputbox' placeholder='<%= l('register_enterpw') %>' required minlength='8' maxlength='255' onkeyup='pwMatchCheck();pwAppropriateCheck()'
            pattern='^[A-Za-z\d$@$!%*?&^#_\-+=<>,./|]{8,255}$'>
            <small class='form-text text-muted'><%= l('register_p8up') %></small>
            <small id='passwordbadlength' class='text-danger fw-bold' style='display: none'><%= l('register_illegalpwlength') %></small>
            <small id='passwordbadchar' class='text-danger fw-bold' style='display: none'><%= l('register_illegalpwchar') %><small id='passwordbadcharlist'></small></small>
        </div>
        <div class='form-group mb-2'>
            <label for='passwordConfirmInputbox'><%= l('register_confirmpw') %></label>
            <input type='password' name='passwordConfirm' class='form-control' id='passwordConfirmInputbox' area-describedby='passwordConfirmDesc' placeholder='<%= l('register_reenterpw') %>' required minlength='8' maxlength='255' onkeyup='pwMatchCheck()'>
            <p>
                <small id='passwordmatch' class='text-success fw-bold' style='display: none'><%= l('register_pwMatch') %></small>
                <small id='passwordnotmatch' class='text-danger fw-bold' style='display: none'><%= l('register_pwNotMatch') %></small>
            </p>
            <small id='passwordConfirmDesc' class='form-text text-muted'><%= l('register_confirmPwDesc') %></small>
        </div>
        <div class='mt-2 mb-2'>
            <div class='captcha'><%- captcha %></div>
        </div>
        <p><%= l('register_privacyBefore') %><a href='<%= global.conf.privacyPolicy %>'><%= l('register_privacyLn') %></a><%= l('register_privacyAfter') %></p>
        <button type='submit' class='btn btn-primary'><%= l('register') %></button>
    </form>
    <script src='/js/signupPasswordCheck.js'></script>
</div>